#rmp-playlist-container {
	width: 920px;
}

#rmp-playlist-container:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.rmp-showoff {
	float: left;
	width: 296px;
	margin: 5px;
	text-align: center;
}

.rmp-showoff a {
	text-decoration: none;
}

.rmp-showoff .rmp-image-link {
	margin-bottom: 5px;
}

.rmp-showoff .rmp-image-link a {
	display: block;
}

.rmp-showoff .rmp-image-link a img {
	width: 100%;
}

/*
* Style for the image playlist
*/
.rmp-images-container ul li {
	display: inline;
	list-style-type: none;
}

.rmp-images-container li {
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	background-color: #eee;
}